/* Empty. Add your own CSS if you like */
.main-alarm {
    padding: 40px 100px 20px;
}

.create-alarm-btn {
  position: fixed;
  bottom: 0;
  left: 0;
}

.popup {
    width: 90% !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-center {
    text-align: center;
}

.active-alarms__create h2 {
    font-size: 60px;
}

.welcome {
    padding: 20px;
}